# More Practice With SQL Queries - Lab

## Introduction

In this lesson, we'll run through some practice questions to refresh our knowledge of SQL Queries!

## Objectives

You will be able to:

- Practice your SQL knowledge

## Getting Started

As in previous labs, we'll make use of the `sqlite3` library as well as `pandas`. By combining them, we'll be able to write our queries as python strings, and make sure that the results are always returned as a pandas DataFrame. 

We'll start by loading both libraries and connecting to the database we'll be using for this lab, `data.sqlite`. You may remember this database from a previous lab. As a refresher, here's the ERD diagram for this database: 

<img src='images/Database-Schema.png'>

In the cell below:

* Import the necessary libraries `pandas` and `sqlite3`
* Establish a connection to the database `data.sqlite`
* Get the `cursor` from the connection and store it in the variable `c`.

In [1]:
import pandas as pd
import sqlite3
conn = sqlite3.connect('data.sqlite')
c = conn.cursor()

## Basic Queries

Now, let's review basic SQL queries. In the cell below:

* Write a query that gets the first name, last name, phone number, address, and credit limit for all customers in California with a credit limit greater than 25000.00.

In [4]:
# For the first query, the boilerplate for getting 
#the query into a dataframe has been provided for you
c.execute("""SELECT contactFirstName, contactLastName, phone, addressLine1 FROM customers
                    WHERE (state = "CA") & (creditLimit > '25000.00');""").fetchall()
# df = pd.DataFrame(c.fetchall())
# df.columns = [x[0] for x in c.description]
# df

[]

In [5]:
c.description

(('contactFirstName', None, None, None, None, None, None),
 ('contactLastName', None, None, None, None, None, None),
 ('phone', None, None, None, None, None, None),
 ('addressLine1', None, None, None, None, None, None))

In [7]:
c.execute("""SELECT * FROM customers""")
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.0
1,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.0
2,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.0
3,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.0
4,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.0

In [9]:
c.execute('pragma table_info(customers)').fetchall()

[(0, 'customerNumber', 'INTEGER', 0, None, 1),
 (1, 'customerName', 'TEXT', 0, None, 0),
 (2, 'contactLastName', 'TEXT', 0, None, 0),
 (3, 'contactFirstName', 'TEXT', 0, None, 0),
 (4, 'phone', 'TEXT', 0, None, 0),
 (5, 'addressLine1', 'TEXT', 0, None, 0),
 (6, 'addressLine2', 'TEXT', 0, None, 0),
 (7, 'city', 'TEXT', 0, None, 0),
 (8, 'state', 'TEXT', 0, None, 0),
 (9, 'postalCode', 'INTEGER', 0, None, 0),
 (10, 'country', 'TEXT', 0, None, 0),
 (11, 'salesRepEmployeeNumber', 'INTEGER', 0, None, 0),
 (12, 'creditLimit', 'REAL', 0, None, 0)]

In [3]:
df = pd.DataFrame(c.fetchall())
df.columns = [x[0] for x in c.description]
df.head()

ValueError: Length mismatch: Expected axis has 0 elements, new values have 4 elements

#### Expected Output

<img src='images/expected-output-1.png'>

## Aggregate Functions and GROUP BY

Next, write a query that get sthe average credit limit per state.

#### Expected Output

<img src='images/expected-output-2.png'>

## JOINs

Now, write a query that uses JOIN statements to get the customer name, customer number, order number, status, and quantity ordered. Print only the head of this DataFrame.

#### Expected Output

<img src='images/joins.png'>

## HAVING and ORDER BY

Now, return the customerName, customrerNumber, productName, productCode and total number ordered for any product a customer has bought 10 or more of cumulatively. Sort the rows in descending order by the quantity ordered. 

**_Hint_**: For this one, you'll need to make use of HAVING, GROUP BY, and ORDER BY--make sure you get the order of them correct!

#### Expected Output

<img src='images/having_order.png'>

## Subqueries

Finally, get the first name, last name, employee number, and office code for employees from an office with less than 5 employees.

#### Expected Output

<img src='images/expected-output-5.png'>

# Summary

In this lesson, we reviewed all the major concepts and keywords associated with SQL queries!